body{
    background-color: #D40000;
    animation: show 2s forwards;
    cursor: none;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#cursor{
    position: fixed;
    transform: translate(-50%, -50%);
    font-family: owners, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 5vw;
    color: #D40000;
    -webkit-text-stroke: 2px #666666;
text-stroke: 2px #666666;
    text-shadow: 5px 4px 0px rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 4.5vw;
    z-index: 99;
    pointer-events: none;
}


#logo{
    position: fixed;
    top: 3%;
    left: 3%;
    width: 70%;
}

#about-logo{
    position: fixed;
    left: 80%;
    width: 20%;
    transform-origin: center;
    animation: rotate360 3s linear infinite;
}

@keyframes rotate360 {
    0%{
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#about-logo:hover{
    animation-play-state: paused;
}

#section1{
    position: fixed;
    top: 5%;
    left: 45%;
    transform: rotate(10deg);

}

#section2{
    position: fixed;
    top: 3%;
    left: 60%;
    transform: rotate(10deg);

}

#section3{
    position: fixed;
    top: 15%;
    left: 70%;
    transform: rotate(-10deg);

}

#section4{
    position: fixed;
    top: 28%;
    left: 83%;
    transform: rotate(-10deg);

}


.section{
    width: 20%;
    height: 24%;
    background-color: #D40000;
    border: 3px solid #666666;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}