body{
    background-color: #EFEFEF;
    animation: show 2s forwards;
    /* overflow: hidden; */
    overflow-x: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@font-face {
    font-family: plantagenet-cherokee;
    src: url(fonts/plantagenet-cherokee.ttf);
}

#background{
    position: fixed;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
}

#gradient{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,26,26,0) 100%);
    transition: all 1s ease;
}

#interview-logo{
    position: absolute;
    width: 45%;
    top: 0;
    right: -3%;
    transition: all 2s ease;

}


#interview-content{
    position: relative;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-auto-columns: min-content;
    grid-auto-rows: min-content; */
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    /* box-sizing: border-box; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    /* background-color: aqua; */
}


body::-webkit-scrollbar {
    display: none;
  }


.text-box{
    position: relative;
    background-color: #EFEFEF;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 10px;
    border: 3px solid #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.question{
    grid-column: 1;
}

.answer{
    grid-column: 2;
    /* align-items: flex-start; */
}

#img1{
    width: 50%;
}

.character{
    background-color: #EFEFEF;
    font-size: 18px;
    line-height: 21px;
    padding: 10px;
    border: 3px solid #1A1A1A;
    box-shadow: 5px 5px #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: plantagenet-cherokee;

}

#dream{
    text-decoration: #949494 underline dotted;
}

#next{
    /* display: inline-block;
    transform: translateX(11vw); */
    font-family: plantagenet-cherokee;
    color: #1A1A1A;
    /* -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill; */
    font-size: 21px;
    line-height: 20px;
    text-decoration: underline;
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 10px;
    text-align: end;
    z-index:110;
}

#next span{
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}