body{
    background-color: #EFEFEF;
    animation: show 2s forwards;
    overflow: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@font-face {
    font-family: plantagenet-cherokee;
    src: url(fonts/plantagenet-cherokee.ttf);
}


#frame1{
    position: fixed;
    left: 0%;
    top: 0%;
    width: 65%;
    height: 60%;
    background-color: #EFEFEF;
    border-right: 3px solid #1A1A1A;
    border-bottom: 3px solid #1A1A1A;
    overflow: hidden;
}



#text1{
    position: absolute;
    /* transform: translate(-50%, -50%); */
    top: 4%;
    left: 10%;
    width: 65%;
    /* color: #1A1A1A; */
        -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-wrap: pretty;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-y: scroll;

}

#text2{
    position: absolute;
    /* transform: translate(-50%, -50%); */
    top: 34%;
    left: 33%;
    width: 55%;
    /* color: #1A1A1A; */
        -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-wrap: pretty;
    box-sizing: border-box;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    overflow-y: scroll;

}

#text2 sub{
    -webkit-text-fill-color: #949494

}

#background-dots{
    position: absolute;
}

#dots-move{
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

#frame2{
    position: fixed;
    left: 66%;
    top: 4%;
    width: 30%;
    height: 30%;
    background-color: #EFEFEF;
    border: 3px solid #1A1A1A;
    overflow: hidden;
}

#crying{
    position: absolute;
    left: 20%;
    width: 80%;
}

#frame3{
    position: fixed;
    left: 4%;
    bottom: 0%;
    width: 61%;
    height: 38%;
    background-color: #EFEFEF;
    border-top: 3px solid #1A1A1A;
    border-left: 3px solid #1A1A1A;
    border-right: 3px solid #1A1A1A;
    overflow: hidden;
}

#text3{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 50%;
    width: 95%;
    color: #1A1A1A;
        /* -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill; */
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-wrap: pretty;
    box-sizing: border-box;
    padding-left: 5px;
    /* padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
    overflow-y: scroll;

}

#frame4{
    position: fixed;
    right: 4%;
    bottom: 0%;
    width: 30%;
    height: 64%;
    background-color: #EFEFEF;
    border-top: 3px solid #1A1A1A;
    border-left: 3px solid #1A1A1A;
    border-right: 3px solid #1A1A1A;
    overflow: hidden;
}

#text4{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 95%;
    color: #1A1A1A;
        /* -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill; */
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-wrap: pretty;
    box-sizing: border-box;
    padding-left: 5px;
    /* padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
    overflow-y: scroll;

}



.footnote{
    /* -webkit-text-fill-color: #EFEFEF;
    -webkit-text-stroke: 0px;
    text-stroke: 0px;
    text-indent: 0em; */
    width: 1.4vw;
    height: 1.4vw;
    text-align: center;
    font-size: 14px;
    color: #949494;
    cursor: default;
}


#footnote-container1{
    position: absolute;
    top: 87%;
    left: 33.5%;
    width: 65%;
    /* background-color: aqua; */
}

.reference1{
    position: absolute;
    /* color: #1A1A1A; */
    -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill;
    font-family: Arial, sans-serif;
    /* font-size: smaller; */
    font-size: 12px;
    text-wrap: balance;
    visibility: hidden;
    cursor: default;
}

#footnote-container2{
    position: absolute;
    top: 80%;
    left: 3%;
    width: 65%;
    /* background-color: aqua; */
}

.reference2{
    position: absolute;
    color: #1A1A1A;
    paint-order: stroke fill;
    font-family: Arial, sans-serif;
    /* font-size: smaller; */
    font-size: 12px;
    text-wrap: balance;
    visibility: hidden;
    cursor: default;
}

#next{
    position: absolute;
    /* display: inline-block;
    transform: translateX(11vw); */
    bottom: 5%;
    right: 3%;
    font-family: plantagenet-cherokee;
    color: #1A1A1A;
    /* -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill; */
    font-size: 21px;
    line-height: 20px;
    text-decoration: underline;
    cursor: pointer;
    z-index:110;
}

#next span{
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}


#content-wrapper{
    width: 100%;
    height: 100%;
}

#resize-notion{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-family: plantagenet-cherokee;
    color: #1A1A1A;
    font-size: 2vw;
    line-height: 2.3vw;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-align: center;
    visibility: hidden;
}

#resize-notion span{
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}

@media (max-width: 1199px) {
    #content-wrapper{
        filter: blur(20px);
        transition: filter 0.5s ease;

    }

    #resize-notion{
        visibility: visible !important; 
    }

  }
  

@media (min-width: 1401px) {
    #content-wrapper{
        filter: blur(20px);
        transition: filter 0.5s ease;

    }

    #resize-notion{
        visibility: visible !important; 
    }

  }
  