body{
    background-color: #EFEFEF;
    animation: show 2s forwards;
    /* overflow: hidden; */
    overflow-x: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@font-face {
    font-family: plantagenet-cherokee;
    src: url(fonts/plantagenet-cherokee.ttf);
}

#interview-logo{
    position: absolute;
    width: 45%;
    top: 0;
    right: -3%;
    transition: all 2s ease;

}


#interview-content{
    position: relative;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-auto-columns: min-content;
    grid-auto-rows: min-content; */
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    /* box-sizing: border-box; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px; */
    /* grid-row-gap: 10px; */
    /* background-color: aqua; */
}


body::-webkit-scrollbar {
    display: none;
  }


#scroll{
   width: 105%;

}


.text-box{
    position: relative;
    background-color: #EFEFEF;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    padding: 10px;
    border: 3px solid #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.question{
    grid-column: 1;
}

.answer{
    grid-column: 2;
    /* align-items: flex-start; */
}

.img1{
    width: 50%;
    filter: grayscale(100%);
}

.img2{
    width: 70%;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}



.character{
    background-color: #EFEFEF;
    font-size: 18px;
    line-height: 21px;
    padding: 10px;
    border: 3px solid #1A1A1A;
    box-shadow: 5px 5px #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-family: plantagenet-cherokee;

}

#next{
    /* display: inline-block;
    transform: translateX(11vw); */
    font-family: plantagenet-cherokee;
    color: #1A1A1A;
    /* -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill; */
    font-size: 21px;
    line-height: 20px;
    text-decoration: underline;
    cursor: pointer;
    box-sizing: border-box;
    padding-bottom: 10px;
    text-align: end;
    z-index:110;
}

#next span{
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}

@media screen and (min-width: 2560px) {

    #interview-content{
        grid-column-gap: 100px;
        grid-row-gap: 30px;
    }

    .text-box{
        font-size: 28px;
        line-height: 32px;
        border: 4px solid #1A1A1A;
        padding: 15px;
    }

    .character{
        font-size: 28px;
        line-height: 32px;
        border: 4px solid #1A1A1A;
        box-shadow: 7px 7px #1A1A1A;
        padding: 15px;
    }

    #next{
        font: 31px;
        padding-bottom: 15px;
    }


}


#content-wrapper{
    width: 100%;
    height: 100%;
}

#resize-notion{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-family: plantagenet-cherokee;
    color: #1A1A1A;
    font-size: 2vw;
    line-height: 2.3vw;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-align: center;
    visibility: hidden;
}

#resize-notion span{
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}

@media (max-width: 1199px) {
    #content-wrapper{
        filter: blur(20px);
        transition: filter 0.5s ease;

    }

    #resize-notion{
        visibility: visible !important; 
    }

  }
  

@media (min-width: 1401px) {
    #content-wrapper{
        filter: blur(20px);
        transition: filter 0.5s ease;

    }

    #resize-notion{
        visibility: visible !important; 
    }

}


