body{
    background-color: white;
    /* animation: show 2s forwards; */
    overflow: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: plantagenet-cherokee;
    src: url(fonts/plantagenet-cherokee.ttf);
}

#logo{
    position: fixed;
    top: 2%;
    left: 2%;
    width: 25%;
    animation: show-center 4s ease-in-out forwards;

}

@keyframes show-center{
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        z-index: 111;
    }
    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        z-index: 111;
    }
    100% {
        top: 2%;
        left: 2%;
        width: 25%;
    }
}

#center-line{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #4D4D4D;
    z-index: 100;
}

#footnote-section{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 7%;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1vw;
    color: #666666;
    box-sizing: border-box;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #4D4D4D;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#interview-section{
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#panel1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4%;
    right: 5%;
    text-wrap: nowrap;
}

#title, #section{
    /* top: 4%;
    right: 5%; */
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1.3vw;
    color: #666666;
    cursor: default;
}

/* #section{
    top: 10%;
    right: 25%;

    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1em;
    color: #666666;
} */


#section-choice{
    /* top: 10%;
    right: 25%; */
    display: none;
    transform: translateX(35%);
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1.3vw;
    color: #666666;
    cursor: pointer;
}

#section:hover #section-choice{
    display: block;
}


#next{
    position: absolute;
    bottom: 4%;
    right: 15%;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1.3vw;
    color: #666666;
    text-align: center;
    cursor: pointer;
}

#interview-container{
    position:relative;
    left: 4%;
    bottom: 0;
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    font-size: 1.2vw;
    color:#1A1A1A;
    text-wrap: balance;
    /* text-align: justify;
    text-justify: auto; */

    /* background-color: aqua;
    border-left: 1px solid #4D4D4D;
    border-right: 1px solid #4D4D4D; */
}

b{
    font-weight: 700;
}

i{
    font-style: italic;
}

.character{
    display: inline;
    background-color: #c6c6c6;
    cursor: default;
}

.introduction{
    color: #888;
    display: none;
}

.character:hover + .introduction {
    display: inline;
}

figcaption{
    color: #888;
    /* margin-top: 2%; */
    font-size: 0.9vw;
}

.enlarged {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 110;
    box-shadow: 0px 0px 20px #888;
  }

.add2{
    display: inline-block;
    vertical-align: middle;
    width: 1.5vw;
    margin-left: 2%;
    /* margin-left: 80%; */
    /* margin-right: -8%; */
    cursor: pointer;
}

#interview1{
    position: absolute;
    top: 60%;
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border-left: 1px solid #4D4D4D;
    border-right: 1px solid #4D4D4D;
    display: none;
}

#interview2{
    position: absolute;
    top: 60%;
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border-left: 1px solid #4D4D4D;
    border-right: 1px solid #4D4D4D;
    display: none;
}

.interviewee{
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 15%;
    padding-bottom: 5%;
    transform: translateX(15%);
}

#interview-container::-webkit-scrollbar {
    /* width: 0.8vw; */
    display: none;
  }
  
/* 
#interview-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   

#interview-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0px;
  }
  

#interview-container::-webkit-scrollbar-thumb:hover {
    background: #666; 
  } */


#essay-section{
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    /* overflow-y: scroll; */
    /* scrollbar-width: thin; */
    /* overflow: hidden; */
}


#essay-title{
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1.3vw;
    color: #666666;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

#text-container{
    overflow-y: scroll;
    height: 100%;
}

#text-container::-webkit-scrollbar {
    width: 0.8vw;
  }
  

#text-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   

#text-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0px;
  }
  

#text-container::-webkit-scrollbar-thumb:hover {
    background: #666; 
  }


#text{
    margin-top: 20%;
    text-wrap: nowrap;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 350;
    color: #1A1A1A;
    /* font-size: 1.3em; */
    font-size: 1.7vw;
    line-height: 2.25vw;
    /* line-height: 1.3em; */
    text-indent: 50px;
    /* background-color: aqua; */
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    /* padding-bottom: 10%; */
    /* padding-left: 30px;
    padding-right: 30px; */
    /* text-wrap: balance; */
    text-wrap: pretty;
}

.add1{
    display: inline-block;
    vertical-align: middle;
    width: 2vw;
    margin-left: -8%;
    cursor: pointer;
}

#part2{
    display: block;
    transform: translate(10%, 5%);
    padding-left: 10%;
    padding-right: 5%;
    border-left: 0.8vw solid #c6c6c6;
    background-color: #f1f1f1;
}

/* #part2 div:nth-child(2){
    padding-bottom: 0%;
} */

#part3{
    display: block;
    transform: translateY(18%);
    padding-bottom: 15.5%;
    /* padding-bottom: 18%; */
}

/* #text div:last-of-type {
    padding-bottom: 10%;
} */

#last{
    padding-bottom: 10%;
}

sup {
    vertical-align: super;
    font-size: smaller;
    color: #888; 
    cursor:default
  }







#drawing{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-color: aqua; */
}

#white-background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 110;
    animation: disappear 4s ease-in-out forwards;
}

@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.reference{
    position: absolute;
    visibility: hidden;
}
