body{
    background-color: #EFEFEF;
    animation: show 2s forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#dots{
    position: absolute;
    height: 100%;
    overflow: hidden;
}

#petals{
    position: absolute;
    left: 125px;
    width: 525px;
    height: 100%;
    overflow: hidden;
}

#frame1{
    position: relative;
    height: 48%;
    border-bottom: 3px solid #1A1A1A;
    overflow: hidden;
}

#line1{
    position: absolute;
    left: 20px;
    height: 100%;
    width: 2px;
    background-color: #1A1A1A;
}

#line2{
    position: absolute;
    left: 28px;
    height: 100%;
    width: 2px;
    background-color: #1A1A1A;
}

#line3{
    position: absolute;
    left: 35px;
    height: 100%;
    width: 3px;
    background-color: #1A1A1A;
}

#line4{
    position: absolute;
    left: 100px;
    height: 100%;
    width: 3px;
    background-color: #1A1A1A;
}

#line5{
    position: absolute;
    left: 125px;
    height: 100%;
    width: 2px;
    background-color: #1A1A1A;
}

#line6{
    position: absolute;
    left: 650px;
    height: 100%;
    width: 3px;
    background-color: #1A1A1A;
}

#line7{
    position: absolute;
    left: 695px;
    height: 100%;
    width: 3px;
    background-color: #1A1A1A;
}

#line8{
    position: absolute;
    top: 35px;
    left: 800px;
    height: 2px;
    width: 800px;
    transform:rotate(6deg);
    background-color: #1A1A1A;
}




