body{
    background-color: #EFEFEF;
    animation: show 2s forwards;
    overflow: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@font-face {
    font-family: plantagenet-cherokee;
    src: url(fonts/plantagenet-cherokee.ttf);
}

#frame1{
    position: fixed;
    left: 0%;
    top: 0;
    width: 30%;
    height: 36%;
    border-right: 3px solid #1A1A1A;
    border-bottom: 3px solid #1A1A1A;
    overflow: hidden;
}  


#text1{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 95%;
    height: 100%;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-wrap: balance;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 5px;
    overflow-y: scroll;

}

#frame2{
    position: fixed;
    left: 31%;
    top: 6%;
    width: 65%;
    height: 30%;
    border: 3px solid #1A1A1A;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#text2{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 100%;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-wrap: balance;
    box-sizing: border-box;
    padding: 5px;
    overflow-y: scroll;

}

#frame3{
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 96%;
    height: 60%;
    border-top: 3px solid #1A1A1A;
    border-right: 3px solid #1A1A1A;
    overflow: hidden;
}

#table{
    position: absolute;
    width: 100%;
    top: -2%;
    left: 0.5px;
    /* transform: scale(1); */
}

#dots-move{
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

#text3{
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%) perspective(200px) rotateY(-2deg) rotateX(18deg) rotate(-21deg) skewX(25deg);
    width: 30%;
    height: 50%;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-wrap: balance;
    box-sizing: border-box;
    padding: 5px;
    /* background-color: aqua; */

}


.footnote{
    /* -webkit-text-fill-color: #EFEFEF;
    -webkit-text-stroke: 0px;
    text-stroke: 0px;
    text-indent: 0em; */
    width: 1.4vw;
    height: 1.4vw;
    text-align: center;
    font-size: 14px;
    color: #949494;
    cursor: default;
}


#next{
    position: absolute;
    /* display: inline-block;
    transform: translateX(11vw); */
    bottom: 5%;
    right: 2%;
    font-family: plantagenet-cherokee;
    /* color: #1A1A1A; */
    -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke: 3px #EFEFEF;
    text-stroke: 3px #EFEFEF;
    paint-order: stroke fill;
    font-size: 21px;
    line-height: 20px;
    text-decoration: underline;
    z-index:110;
}

#next span{
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}

#footnote-container1{
    position: fixed;
    top: 1%;
    left: 61%;
    transform: translateX(-50%);
    width: 60%;
}


.reference1{
    position: absolute;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    /* font-size: smaller; */
    font-size: 12px;
    text-wrap: balance;
    visibility: hidden;
    cursor: default;
}


#footnote-container2{
    position: absolute;
    left: 56%;
    top: 56%;
    transform: translate(-50%, -50%) perspective(200px) rotateY(-4deg) rotateX(18deg) rotate(-24deg) skewX(25deg);
    width: 32%;
    height: 12%;
    /* background-color: aqua; */
}

.reference2{
    position: absolute;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    /* font-size: smaller; */
    font-size: 12px;
    text-wrap: balance;
    visibility: hidden;
    cursor: default;
}
