body{
    background-color: white;
    overflow: hidden;
}

@font-face {
    font-family: plantagenet-cherokee;
    src: url(fonts/plantagenet-cherokee.ttf);
}

#logo{
    position: fixed;
    top: 2%;
    left: 2%;
    width: 25%;
}

#center-line{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #4D4D4D;
    z-index: 100;
}

#footnote{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 50%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #4D4D4D;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#interview-section{
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

#title{
    position: absolute;
    top: 4%;
    right: 5%;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1em;
    color: #666666;
}

#section{
    position: absolute;
    bottom: 4%;
    right: 15%;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1em;
    color: #666666;
    text-align: center;
}


#essay-section{
    position: relative;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    align-items: center;
    overflow-y: scroll;
    /* overflow: hidden; */
}

#essay-title{
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
    font-size: 1em;
    color: #666666;
    text-align: center;
}

#text-container{
    overflow: scroll;
    /* background-color: aqua; */
}

#text{
    margin-top: 100px;
    text-wrap: nowrap;
    font-family: "thermal-variable", sans-serif;
    font-variation-settings: "opsz" 100, "wght" 350;
    color: #1A1A1A;
    font-size: 1.3em;
    line-height: 1.3em;
    text-indent: 50px;
    /* background-color: aqua; */
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    /* text-wrap: balance; */
    text-wrap: pretty;
}








#drawing{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background-color: aqua; */
}