body{
    background-color: #EFEFEF;
    animation: show 2s forwards;
    overflow: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@font-face {
    font-family: plantagenet-cherokee;
    src: url(fonts/plantagenet-cherokee.ttf);
  }



#frame1{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 92%;
    height: 100%;
    border-left: 3px solid #1A1A1A;
    border-right: 3px solid #1A1A1A;
    overflow: hidden;
}

#dots{
    position: absolute;
    width: 20%;
    height: 100%;
    /* transform:rotate(40deg) skew(40deg); */
    overflow: hidden;
    /* background-color: aqua; */
}

#ceiling{
    position: absolute;
    top: -35%;
    width: 30%;
    height: 50%;
    transform: rotate(35deg) skew(20deg, 10deg);
    /* background-color: aqua; */
    background-color: #EFEFEF;
}

#window1{
    position: absolute;
    top: 212px;
    width: 2%;
    height: 42%;
    transform: rotate(20deg) skew(20deg, 18deg);
    /* background-color: aqua; */
    background-color: #EFEFEF;
}

#window2{
    position: absolute;
    top: 250px;
    left: 50px;
    width: 2%;
    height: 42%;
    transform: rotate(20deg) skew(20deg, 18deg);
    /* background-color: aqua; */
    background-color: #EFEFEF;
}

#line1{
    position:absolute;
    top: -55px;
    left: 120px;
    width: 3px;
    height: 350px;
    transform: rotate(-45deg);
    background: linear-gradient(180deg, rgba(26,26,26,1) 63%, rgba(26,26,26,0) 100%);
}

#line2{
    position: absolute;
    top:60px;
    left: 62px;
    width: 190px;
    height: 2px;
    background: linear-gradient(90deg, rgba(26,26,26,1) 63%, rgba(26,26,26,0) 100%);
}

#line3{
    position: absolute;
    top:115px;
    left: 118px;
    width: 170px;
    height: 2px;
    background: linear-gradient(90deg, rgba(26,26,26,1) 63%, rgba(26,26,26,0) 100%);
}

#line4{
    position: absolute;
    top:155px;
    left: 158px;
    width: 90px;
    height: 2px;
    background: linear-gradient(90deg, rgba(26,26,26,1) 63%, rgba(26,26,26,0) 100%);
}

#line5{
    position: absolute;
    top:190px;
    left: 192px;
    width: 70px;
    height: 2px;
    background: linear-gradient(90deg, rgb(105, 105, 105) 63%, rgba(26,26,26,0) 100%);
}


#line6{
    position:absolute;
    top: 20px;
    left: 270px;
    width: 2px;
    height: 250px;
    transform: rotate(-25deg) skew(10deg, 10deg);
    background: linear-gradient(180deg, rgba(26,26,26,1) 33%, rgba(26,26,26,0) 100%);
}

#line7{
    position:absolute;
    top: 90px;
    left: 50px;
    width: 3px;
    height: 180px;
    transform: rotate(-53deg);
    background-color: #1A1A1A;
}

#line8{
    position:absolute;
    top: 233px;
    left: 122px;
    width: 3px;
    height: 400px;
    background-color: #1A1A1A;
}

#line9{
    position:absolute;
    top: 115px;
    left: 46px;
    width: 1px;
    height: 154px;
    transform: rotate(-53deg);
    background-color: #1A1A1A;
}

#line10{
    position:absolute;
    top: 237px;
    left: 95px;
    width: 30px;
    height: 2px;
    transform: rotate(-18deg);
    background-color: #1A1A1A;
}

#line11{
    position:absolute;
    top: 139px;
    left: 41px;
    width: 3px;
    height: 130px;
    transform: rotate(-48deg) skew(5deg, 30deg);
    background-color: #1A1A1A;
}

#line12{
    position:absolute;
    top: 242px;
    left: 93px;
    width: 3px;
    height: 400px;
    background-color: #1A1A1A;
}

#line13{
    position:absolute;
    top: 239px;
    left: 108px;
    width: 1px;
    height: 400px;
    background-color: #1A1A1A;
}

#line14{
    position:absolute;
    top: 148px;
    left: 35px;
    width: 1px;
    height: 124px;
    transform: rotate(-53deg);
    background-color: #1A1A1A;
}

#line15{
    position:absolute;
    top: 246px;
    left: 75px;
    width: 22px;
    height: 1px;
    transform: rotate(-18deg);
    background-color: #1A1A1A;
}

#line16{
    position:absolute;
    top: 158px;
    left: 29px;
    width: 2px;
    height: 115px;
    transform: rotate(-53deg);
    background-color: #1A1A1A;
}

#line17{
    position:absolute;
    top: 250px;
    left: 75px;
    width: 2px;
    height: 400px;
    background-color: #1A1A1A;
}

#line18{
    position:absolute;
    top: 246px;
    left: 84px;
    width: 1px;
    height: 400px;
    background-color: #1A1A1A;
}

#block1{
    position:absolute;
    top: 95px;
    left: 40px;
    width: 10px;
    height: 650px;
    transform: skew(25deg,25deg) rotate(25deg);
    background-color: #EFEFEF;
    border: 2px solid #1A1A1A;
}

#block2{
    position:absolute;
    top: 170px;
    left: 27px;
    width: 13px;
    height: 550px;
    transform: skew(-12deg,-12deg) rotate(-12deg);
    background-color: #EFEFEF;
    border-left: 2px solid #1A1A1A;
    border-top: 2px solid #1A1A1A;
}


#dots2{
    position:absolute;
    top: 170px;
    left: 27px;
    width: 13px;
    height: 550px;
    transform: skew(-12deg,-12deg) rotate(-12deg);
    overflow: hidden;
}

#block3{
    position:absolute;
    top: 400px;
    left: -8px;
    width: 46px;
    height: 30px;
    transform: rotate(20deg) skew(20deg);
    background-color: #EFEFEF;
    border-right: 2px solid #1A1A1A;
    border-top: 2px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
}

#dots3{
    position:absolute;
    top: 400px;
    left: -8px;
    width: 46px;
    height: 30px;
    transform: rotate(20deg) skew(20deg);
    overflow: hidden;
}


#block4{
    position:absolute;
    top: 430px;
    left: -12px;
    width: 46px;
    height: 8px;
    transform: rotate(18deg) skew(-30deg);
    /* background-color: aqua; */
    background-color: #EFEFEF;
    border-bottom: 2px solid #1A1A1A;
}

#line19{
    position:absolute;
    top: 440px;
    left: 27px;
    width: 10px;
    height: 2px;
    transform: rotate(-30deg);
    background-color: #1A1A1A;
}


#block5{
    position:absolute;
    top: 390px;
    left: -8px;
    width: 46px;
    height: 10px;
    transform: perspective(10em) rotateY(30deg) rotate(18deg) skew(18deg);
    background-color: #EFEFEF;
    border-right: 2px solid #1A1A1A;
    border-top: 2px solid #1A1A1A;
}

#line20{
    position:absolute;
    top: 438px;
    left: -6px;
    width: 34px;
    height: 10px;
    transform: rotate(18deg) skew(18deg);
    background-color: #EFEFEF;
    border-bottom: 2px solid #1A1A1A;
}

#block6{
    position:absolute;
    top: 415px;
    left: 47.5px;
    width: 60px;
    height: 10px;
    transform: perspective(10em) rotateY(30deg) rotate(18deg) skew(18deg);
    /* background-color: aqua; */
    background-color: #EFEFEF;
    border-right: 2px solid #1A1A1A;
    border-top: 2px solid #1A1A1A;
}


#block7{
    position:absolute;
    top: 452px;
    left: 49px;
    width: 55px;
    height: 9px;
    transform: perspective(10em) rotateY(20deg) rotate(17deg) skew(17deg);
    /* background-color: aqua; */
    background-color: #EFEFEF;
    border-bottom: 2px solid #1A1A1A;
}



#block8{
    position:absolute;
    top: 425px;
    left: 49px;
    width: 65px;
    height: 28px;
    transform: perspective(10em) rotateY(20deg) rotate(18deg) skew(18deg);
    background-color: #EFEFEF;
    border-right: 2px solid #1A1A1A;
    border-top: 2px solid #1A1A1A;
    border-bottom: 1px solid #1A1A1A;
}

#dots4{
    position:absolute;
    top: 425px;
    left: 49px;
    width: 65px;
    height: 28px;
    transform: perspective(10em) rotateY(20deg) rotate(18deg) skew(18deg);
    overflow: hidden;
}


#line21{
    position:absolute;
    top: 464px;
    left: 98px;
    width: 11px;
    height: 2px;
    transform: rotate(-30deg);
    background-color: #1A1A1A;
}

#block9{
    position:absolute;
    top: 460px;
    left: 49px;
    width: 50px;
    height: 10px;
    transform: perspective(10em) rotateY(20deg) rotate(17deg) skew(17deg);
    background-color: #EFEFEF;
    border-right: 2px solid #1A1A1A;
    /* border-top: 2px solid #1A1A1A; */
    border-bottom: 2px solid #1A1A1A;
}

#fill-block{
    position:absolute;
    top: 455px;
    left: 98px;
    width: 10px;
    height: 9px;
    transform: rotate(-25deg) skew(-25deg);
    /* background-color: aqua; */
    background-color: #EFEFEF;
}

#text1{
    position: absolute;
    top: 10px;
    left: 430px;
    width: 65%;
    color: #1A1A1A;
    transform: perspective(20em) rotateX(-20deg) skew(15deg);
    font-family: Arial, sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-indent: -10em;
    text-wrap: balance;
    box-sizing: border-box;
    padding: 10px;
    /* background-color: aqua; */
}

#text2{
    position: absolute;
    top: 278px;
    left: 650px;
    width: 45%;
    height: 60%;
    color: #1A1A1A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-indent: -8em;
    text-wrap: balance;
    box-sizing: border-box;
    padding: 10px;
}

.text-right{
    transform: translateX(15%);
    width: 90%;
}

#next{
    position: absolute;
    bottom: 6%;
    right: 5%;
    font-family: plantagenet-cherokee;
    color: #1A1A1A;
    font-size: 20px;
    line-height: 20px;
    text-decoration: underline;
    z-index:110;
}

#next span{
    font-family: hiragino-mincho-pron, sans-serif;
    font-weight: 600;
    font-style: normal;
}



#floor{
    position: fixed;
    transform: perspective(400px) rotateX(50deg);
    transform-origin: bottom;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 10%;
    border-right: 3px solid #1A1A1A;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
    overflow: hidden;
    /* background-color: aqua; */
}

#frame2{
    position: absolute;
    left: -5px;
    bottom: -50px;
    width: 45%;
    height: 48%;
    z-index: 99;
}

#frame2-outer{
    width: 100%;
    height: 100%;
    transform: rotate(-3deg) skew(-3deg, -3deg);
    background-color: #EFEFEF;
    border-top: 3px solid #1A1A1A;
    border-right: 3px solid #1A1A1A;
    overflow: hidden;
    z-index: 99;
}

#background-lines{
    position: absolute;

}

#manga-textbox1{
    position: absolute;
    transform: rotate(3deg) skew(3deg, 3deg);
    left: -5%;
    top: -20%;
    width: 35%;
    z-index: 101;
    /* pointer-events: none; */
}

#section{
    position: absolute;
    width: 5%;
    height: 70%;
    top: -3%;
    left: 10%;
    transform: rotate(3deg) skew(3deg, 3deg);
    font-size: 2.5vw;
    font-family: owners, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #1A1A1A;
    line-height: 28px;
    z-index: 105;
    text-align: center;
    cursor: pointer;
    /* background: rgba(255, 0, 0, 0.2);
    border: 1px solid red;            */
}

#section-jp{
    position: absolute;
    top: -3%;
    left: 15%;
    transform: rotate(3deg) skew(3deg, 3deg);
    font-size: 1vw;
    font-family: "Noto Sans JP", serif;
    font-weight: 800;
    color: #1A1A1A;
    line-height: 2vw;
    z-index: 105;
    text-align: center;
}

/* #section-choice{
    position: fixed;
    display: none;
    top: 28%;
    left: 8%;
    transform: rotate(-30deg) skew(20deg);
    font-family: "flood-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    line-height: 5vw;
    -webkit-text-fill-color: #1A1A1A;
    -webkit-text-stroke:  6px #EFEFEF;
    text-stroke: 6px #EFEFEF;
    paint-order: stroke fill;
    z-index: 100;
} */

#section-choice {
    position: fixed;
    display: none;
    top: 28%;
    left: 8%;
    transform: rotate(-30deg) skew(20deg);
    z-index: 100;
    cursor: pointer;
}

.choices {
  font-family: "flood-std", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  line-height: 5vw;
  -webkit-text-fill-color: #1A1A1A;
  -webkit-text-stroke: 6px #EFEFEF;
  text-stroke: 6px #EFEFEF;
  paint-order: stroke fill;
  transition: transform 0.5s ease;
}


#hand{
    position: absolute;
    transform: rotate(3deg) skew(3deg, 3deg);
    top: -30%;
    left: 21%;
    width: 80%;
    z-index: 99;

}


#scrolling-text {
    position: fixed;
    top: 0px;
    left: 10px;
    height: 100%;
    width: 6%;
    /* background-color: aqua; */
}

#time{
    transform: translateY(2%);
    width: 45%;
}


#logo{
    transform: translateX(-21%);
    width: 75%;
}

#scrolling-text p{
    display: inline-block;
    white-space: nowrap;
    font-size: 2.5vw;
    line-height: 2.5vw;
    font-family: "Noto Sans JP", serif;
    font-weight: 800;
    color: #1A1A1A;
    animation: scrollText 15s linear infinite;
}

#scrolling-text p span{
    display: inline-block;
    letter-spacing: -5px;
    margin-left: 5px;
    transform: rotate(10deg);
}

@keyframes scrollText {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(280%);
    }
  }
  