body{
    overflow: hidden;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 21%, rgba(255,216,0,1) 55%, rgba(255,111,0,1) 75%, rgba(255,60,0,1) 86%);
/* background-repeat: no-repeat; */
}

/* #background{
    position: fixed;
    left: -600px;
    top: -100px;
    height: 120%;
    width: 2600px;
    background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,216,0,1) 35%, rgba(255,111,0,1) 55%, rgba(255,60,0,1) 66%);

} */

#sparks{
    position: absolute;
    animation: up-down 5s infinite alternate ease;
}

.spark{
    position: absolute;
    background: radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(255,216,0,1) 44%, rgba(255,0,0,1) 83%);
    border-radius: 100%;
    animation: shine 0.8s infinite alternate ease-in-out;
    display: block;
    filter: blur(0.5px);
}

.spot{
    position: absolute;
    background: white;
    border-radius: 100%;
    /* animation: shine 0.8s infinite alternate ease-in-out; */
    display: block;
    filter: blur(0.5px);
}


@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 0.8;
    filter: blur(0.5px);
  }
  100% {
    transform: scale(0);
    opacity: 1;
    filter: blur(5px);
  }
}

@keyframes up-down {
    0% {
        top: -80px;
    }
    100% {
        top:0
    }
  }

#fire{
    position: absolute;
    bottom: 0;
    mix-blend-mode: screen;
}

#circle-light{
    position: absolute;
    left: 0;
    top: -10%;
    /* left: 40%;
    top: 40%;
    transform: translate(-50%, -50%); */
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle, rgba(255,255,255,1) 38%, rgba(255,216,0,1) 67%, rgba(255,66,0,1) 100%);
    border-radius: 100%;
    filter: blur(50px);
    animation: resize 5s infinite ease;
    mix-blend-mode: overlay;
}

@keyframes resize{
    0%{transform: scale(0);}
    50%{transform: scale(1.5);}
    100%{transform: scale(0);}
}

#ray-light{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 25%;
    top: -25%;
    animation: rotate360 10s linear infinite;
    transform-origin: bottom;
}

.line {
    position: absolute;
    width: 2px;
    height: 700px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 48%, rgba(255,216,0,1) 64%);
    top: 50%;
    left: 50%;
    transform-origin: center;
    filter: blur(0.5px);
    opacity: 1;
    animation: fadeLines 1s infinite alternate ease-in-out;
    overflow: hidden;
}

@keyframes fadeLines {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes rotate360 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


  

#heading{
    position: relative;
    top: 15px;
    left: 20px;
    width: 70vw;
    z-index: 99;
    
}