body{
    overflow: hidden;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 21%, rgba(255,216,0,1) 55%, rgba(255,111,0,1) 75%, rgba(255,60,0,1) 86%);
/* background-repeat: no-repeat; */
}

/* #background{
    position: fixed;
    left: -600px;
    top: -100px;
    height: 120%;
    width: 2600px;
    background: radial-gradient(circle, rgba(255,255,255,1) 10%, rgba(255,216,0,1) 35%, rgba(255,111,0,1) 55%, rgba(255,60,0,1) 66%);

} */

#sparks{
    position: absolute;
    animation: up-down 5s infinite alternate ease;
}

.spark{
    position: absolute;
    background: radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(255,216,0,1) 44%, rgba(255,0,0,1) 83%);
    border-radius: 100%;
    animation: shine 0.8s infinite alternate ease-in-out;
    display: block;
    filter: blur(0.5px);
}

.spot{
    position: absolute;
    background: white;
    border-radius: 100%;
    /* animation: shine 0.8s infinite alternate ease-in-out; */
    display: block;
    filter: blur(0.5px);
}


@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 0.8;
    filter: blur(0.5px);
  }
  100% {
    transform: scale(0);
    opacity: 1;
    filter: blur(5px);
  }
}

@keyframes up-down {
    0% {
        top: -80px;
    }
    100% {
        top:0
    }
  }

#fire{
    position: absolute;
    bottom: 0;
    mix-blend-mode: screen;
}

#circle-light{
    position: absolute;
    left: 0;
    top: -10%;
    /* left: 40%;
    top: 40%;
    transform: translate(-50%, -50%); */
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle, rgba(255,255,255,1) 38%, rgba(255,216,0,1) 67%, rgba(255,66,0,1) 100%);
    border-radius: 100%;
    filter: blur(50px);
    animation: resize 5s infinite ease;
    mix-blend-mode: overlay;
}

@keyframes resize{
    0%{transform: scale(0);}
    50%{transform: scale(1.5);}
    100%{transform: scale(0);}
}

#ray-light{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: -25%;
    top: -70%;
    /* animation: rotate360 10s linear infinite;
    transform-origin: bottom; */
}

.line {
    position: absolute;
    width: 2px;
    height: 800px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 48%, rgba(255,216,0) 64%, rgba(255,216,0,0) 84%);
    top: 50%;
    left: 50%;
    transform-origin: center;
    filter: blur(0.5px);
    opacity: 1;
    animation: fadeLines 1s infinite alternate ease-in-out;
    overflow: hidden;
}

@keyframes fadeLines {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes rotate360 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

#boom1{
    position: absolute;
    width: 50%;
    right: -15%;
    top: -20%;
    /* right: -150px;
    top: -200px; */
    /* z-index: 11; */
    mix-blend-mode: hard-light;
    /* animation: resize2 2s infinite alternate ease-in-out; */
}

#boom2{
    position: absolute;
    width: 40%;
    right: 30%;
    top: -20%;
    /* right: -150px;
    top: -200px; */
    /* z-index: 11; */
    /* mix-blend-mode: hard-light; */
    /* animation: resize2 3s infinite alternate ease; */
}

#bullet3{
    position: absolute;
    width:10%;
    right: 43%;
    top: 7%;
    /* animation: float4 3s infinite alternate ease-in-out; */
}


@keyframes resize2{
    0%{transform: scale(1);
        filter: blur(0px);
    }

    100%{
        transform: scale(2);
        filter: blur(10px);
    }
}




  

#heading{
    position: relative;
    top: 15px;
    left: 20px;
    width: 70vw;
    
}

#text1{
    position: absolute;
    overflow: hidden;
    width: 105%;
    bottom: -10%;
    /* bottom: -70px;
    right: -50px; */
    /* z-index: 11; */
/* margin-top: -20px;
margin-left: -10px; */
}

#text2{
    position: absolute;
    overflow: hidden;
    width: 60%;
    right: 5%;
    /* right: 50px; */
    bottom: 0px;
    /* z-index: 12; */
    cursor: pointer;
}

#year{
    position: absolute;
    top: -10px;
    width: 20%;
}


/* #scanner1{
    position: absolute;
    top: 0px;
    left: -10%;
    width: 0.5vw;
    height: 10vw;
    background-color: white;
    mix-blend-mode: screen;
    filter: blur(2px);
    transform: rotate(10deg);
    animation: scan 5s infinite linear;
} */

/* .scanner {
    fill: url(#scanner-gradient);
    animation: scan 2s linear infinite alternate;
} */

#svg-mask {
    position: absolute;
    top: -10px;
    width: 30%;
}

.scanner {
    animation: scan 2s linear infinite alternate;
}

/* @keyframes scan{
    0% { left: -10%; }
    100% { left: 20%; }
} */

@keyframes scan {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(500px); }
}


/* #star-mask{
    position: absolute;
    top: 0px;
    width: 20%;
} */

#boom3{
    position: absolute;
    width:50%;
    right: 11%;
    top: 8%;
    animation: float 3s infinite alternate ease-in-out;
}

@keyframes float {
    0% { transform: translateY(-15px) rotate(5deg);
     }
    100% { transform: translateY(5px) scale(0.5); }
}


#bullet1{
    position: absolute;
    width:10%;
    right: 32.5%;
    top: 48%;
    animation: float2 3s infinite alternate ease-in-out;
}

@keyframes float2 {
    0% { transform: translateY(30px) translateX(-20px) scale(1.2);
     }
    100% { transform: translateY(-2px) rotate(-10deg); }
}

#boom4{
    position: absolute;
    width:50%;
    right: 40%;
    bottom: -35%;
    animation: float3 3s infinite alternate ease-in-out;
}

@keyframes float3 {
    0% {  transform: translateY(10px) scale(0.5);
     }
    100% {
        transform: translateY(-10px) rotate(5deg); }
}

#bullet2{
    position: absolute;
    width:15%;
    right: 55%;
    bottom: 4%;
    animation: float4 3s infinite alternate ease-in-out;
}

@keyframes float4 {
    0% { transform: translateY(-30px) translateX(30px) scale(1.2);
        transform: translateY(30px) rotate(-10deg) scale(0.6)
     }
    100% {transform: translateY(-30px) translateX(30px) scale(1.2);}
}
